body {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

header {
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
}

h1 h2 h3 {
    margin-bottom: 10px;
    
}

.container {
    border: solid 5px blue;
    display: flex; 
    flex-direction: column;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;

}

